body {
    width: 900px;
    height: 1000px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 25px;
}

.conteiner {
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.conteiner1 {
    display: flex;
}

.header {
    width: 900px;
    height: 50px;
    background-color: #0f276c;
    margin-bottom: 10px;
}

.hero {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: black;
}

.main {
    width: 590px;
    height: 490px;
    background-color: #4b0541;
    margin-bottom: 10px;
}

.extra {
    width: 590px;
    height: 210px;
    background-color: darkslategray;
}

.side {
    width: 300px;
    height: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #6c2507;
}

.related {
    width: 650px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: green;
}

.post {
    width: 240px;
    height: 150px;
    background-color: #9ca0a8;
}

.footer {
    width: 900px;
    height: 100px;
    background-color: #6c2507;
}